<h1 class="text-center">
  <span class="glyphicon glyphicon-record"></span> <span class="glyphicon glyphicon-record"></span><br>
  calm down </h1>


<form id="new-todo">
  <input type="text" name="content" placeholder="I need to..."/>
  <!-- <input type="text" name="complete" placeholder="Complete?"/> -->
  <input type="submit" value="Create" />
</form>

<button id='get-todos'>Check for To Dos</button>

<div class="row">
  <div class="col-md-6">
    <div id='todos'>
    </div>
  </div>
  <div class="col-md-6">
    <div id='todos complete'>
    </div>
  </div>
</div>
