<h1> To Do </h1>


<form id="new-todo">
  <input type="text" name="content" placeholder="I need to..."/>
  <input type="text" name="complete" placeholder="Enter completion status"/>
  <input type="submit" value="Create" />
</form>
<button id='get-todos'>Refresh To Dos</button>
<ul id='todos'>
</ul>
